/* @import "style.css"; */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,700&family=Roboto:wght@400;700&display=swap");


:root {
    --bg-light: #e5e7eb;
    --primary-dark: #1a0a2e;
    --accent-gold: #d4af37;
    --bg-white: #f3f4f6;
    --border-light: #d1d5db;
    --shadow-light: rgba(0, 0, 0, 0.1);
}

body {
    margin: 0;
    font-family: sans-serif;
    display: flex;
    min-height: 100vh;
    background-color: var(--bg-light);
}

a {
    text-decoration: none;
}

aside>a {
    font-family: 'Playfair Display', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-size: 1.5rem;
    font-style: normal;
    color: var(--accent-gold);
    margin-bottom: 2rem;
}

aside {
    display: flex;
    flex-direction: column;
    width: 16rem;
    background-color: var(--primary-dark);
    color: var(--accent-gold);
    padding: 1.25rem;
}

aside nav a,
aside nav a:visited {
    color: var(--accent-gold);
    text-decoration: none;
    display: block;
    margin-bottom: 1.25rem;
}

aside nav ul {
    list-style: none;
    padding: 0;
}

aside nav ul li {
    margin-bottom: 1rem;
}

aside nav ul li a {
    padding: 0.5rem;
    border: 1px solid var(--accent-gold);
    border-radius: 0.25rem;
    text-align: center;
}

aside nav ul li a:hover {
    background-color: var(--accent-gold);
    color: var(--primary-dark);
}

main {
    flex: 1;
    padding: 1.25rem;
}

.stats {
    display: flex;
    gap: 1.25rem;
}

.stat-card {
    background: var(--bg-white);
    padding: 1.25rem;
    border-radius: 0.5rem;
    flex: 1;
    border-top: 5px solid var(--primary-dark);
    box-shadow: 0 2px 4px var(--shadow-light);
}

.recent-regists table {
    width: 100%;
    border-collapse: collapse;
    background: var(--bg-white);
}

.recent-regists th,
.recent-regists td {
    padding: 1rem;
    text-align: left;
    border-bottom: 1px solid var(--border-light);
}

.recent-regists th {
    background-color: var(--primary-dark);
    color: var(--accent-gold);
}