@import "style.css";
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,700&family=Roboto:wght@400;700&display=swap");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: var(--bg);
	color: var(--text-dark);
	font-family: "Roboto", sans-serif;
	font-size: 1rem;
	line-height: 1.6;
	width: 100%;
}

/* ------------------------- */

.hero a:hover {
	transition: scale 0.1s linear;
	background-color: var(--accent);
	color: var(--primary);
	scale: 1.1;
	box-shadow: 0rem 0.1rem 1rem 0.1rem rgb(180, 178, 178);
}

.hero {
	display: flex;
	flex-direction: column;
	justify-content: end;
	align-items: center;
	background-image:
		linear-gradient(var(--primary), rgba(0, 0, 0, 0.6) 20%),
		url("../assets/images/hero-section-background.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	min-height: 60vh;
	padding: 2rem;
	color: var(--text_light);
}

.hero>h1 {
	font-family: "Playfair Display", sans-serif;
	font-size: 8rem;
	font-style: italic;
	color: var(--accent);
}

.tagline {
	padding: 2rem;
}

/* the button */
.hero a {
	padding: 1.5rem 3rem;
	color: var(--text_light);
	background-color: var(--primary);
	border: 0.2rem solid var(--accent);
	border-radius: 3rem;
	transition:
		background-color 0.2s linear,
		color 0.2s linear,
		outline 0.1s linear;
}

.facilities {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 4rem 2rem;
}

.facilities h2 {
	font-family: "Playfair Display", sans-serif;
	font-style: italic;
	color: var(--accent);
	font-size: 3rem;
	margin-bottom: 1rem;
}

.facilities-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 2rem;
}

.facility-card {
	background-color: var(--primary);
	color: var(--text_light);
	padding: 2rem;
	border: 0.2rem solid var(--accent);
	border-radius: 3rem;
	font-family: "Roboto", sans-serif;
	font-size: 1rem;
	text-align: center;
	transition:
		scale 0.1s linear,
		box-shadow 0.1s linear;
	box-shadow: 0rem 0rem 1rem 0.01rem var(--bg-darker);
}

.facility-card:hover {
	scale: 1.05;
	box-shadow: 0rem 0rem 1rem 0.2rem var(--bg-darker);
}

.facility-card h3 {
	color: var(--accent);
	font-size: 2rem;
}

.facility-card img {
	width: 100%;
	margin-top: 0.3rem;
	border-radius: 2rem;
}

.facility-card:last-child {
	grid-column: 2 / 3;
}

.membership {
	display: flex;
	flex-direction: column;
	margin: 0px;

	text-align: center;
	background-color: var(--primary);
	padding: 2rem;
}

.membership h2 {
	color: var(--accent);
	font-family: "Playfair Display", sans-serif;
	font-size: 3rem;
	margin-bottom: 1rem;
}

.membership-card h3 {
	font-family: "Playfair Display", sans-serif;
	color: var(--accent);
	font-size: 2rem;
}

.membership-cards-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	justify-content: center;
	gap: 2rem;
}

.membership-card {
	background-color: var(--bg);
	color: var(--text-dark);
	padding: 2rem;
	border: 0.2rem solid var(--accent);
	border-radius: 4rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: scale 0.1s linear;
	background: repeating-linear-gradient(45deg,
			var(--bg) 0px,
			var(--bg) 20px,
			var(--bg-darker) 20px,
			var(--bg-darker) 40px);
}

.membership-card:hover {
	scale: 1.05;
}

.membership-card .price {
	padding: 1rem;
	width: 10rem;
	border: var(--accent) solid 0.3rem;
	border-radius: 5rem;
	background-color: var(--primary);
	color: var(--accent);
}

.membership-card dl {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 2rem;
}
